{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
    <h1>Hello PostController!</h1>
    <p>Este es el index de PostController</p>
    <p>Estos son los posts:</p>
    {# {{ controller_name }} #}
    {# {{  dump(controller_name)  }} #}
    {{  form(form)  }}
    {# <ul>
        {% for post in posts %}
            <li>{{ post.title }}</li>
        {% endfor %}
    </ul> #}
{% endblock %}
