{# templates/_modals/_abandonar_group.html.twig #}
<div class="modal fade" id="abandonarGroupModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content glass-panel border-warning shadow-lg">
            <div class="modal-header border-0 pb-0">
                <h5 class="modal-title text-white fw-bold">
                    <i class="bi bi-box-arrow-right text-warning me-2"></i>
                    Abandonar Club
                </h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body text-white-50 py-4">
                <p>¿Estás seguro de que quieres marcharte de <strong>{{ group.name }}</strong>?</p>
            </div>
            <div class="modal-footer border-0 pt-0">
                <button type="button" class="btn btn-outline-light rounded-pill btn-sm px-4" data-bs-dismiss="modal">CANCELAR</button>
                
                {# IMPORTANTE: La ruta debe ser la de LEAVE #}
                <form action="{{ path('app_group_leave', {'id': group.id}) }}" method="POST" data-turbo="false">
                    <button type="submit" class="btn btn-warning rounded-pill btn-sm px-4 fw-bold text-dark">
                        SÍ, SALIR
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>