security:
    # https://symfony.com/doc/current/security.html#registering-the-user-hashing-passwords
    password_hashers:
        App\Module\Auth\Entity\User: 'auto'

    # https://symfony.com/doc/current/security.html#loading-the-user-the-user-provider
    providers:
        app_user_provider:
            entity:
                class: App\Module\Auth\Entity\User
                property: email

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        
        register:
            pattern: ^/auth/register
            stateless: true
            security: false  # No requiere autenticación, completamente abierto

        main:
            stateless: true
            # lazy: true
            entry_point: null
            provider: app_user_provider
            json_login:
                check_path: /auth/login
                username_path: email
                password_path: password
            # logout:
            #     path: /auth/logout

    access_control:
        # Rutas abiertas para usuarios no autenticados
        - { path: ^/auth/register, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/auth/login, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        # Resto de rutas requiere autenticación
        - { path: ^/api, roles: ROLE_USER }

when@test:
    security:
        password_hashers:
            App\Module\Auth\Entity\User:
                algorithm: auto
                cost: 4       # bcrypt mínimo
                time_cost: 3  # argon mínimo
                memory_cost: 10
