# config/packages/security.yaml
security:
    password_hashers:
        App\Module\Auth\Entity\User:
            algorithm: auto

    providers:
        app_user_provider:
            entity:
                class: App\Module\Auth\Entity\User
                property: email

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        api:
            pattern: ^/api
            stateless: true
            jwt: ~

        main:
            lazy: true
            provider: app_user_provider
            
            # Al poner un check_path distinto a la ruta de tu login, 
            # Symfony no buscará los campos _username/_password automáticamente.
            form_login:
                login_path: auth_login
                check_path: /internal_login_check 
            
            logout:
                path: auth_logout
                target: auth_login

    access_control:
        - { path: ^/auth/login, roles: PUBLIC_ACCESS }
        - { path: ^/auth/register, roles: PUBLIC_ACCESS }
        - { path: ^/$, roles: PUBLIC_ACCESS }
        - { path: ^/movies, roles: ROLE_USER }
        - { path: ^/group, roles: ROLE_USER }