{# templates/group/_tabs_navigation.html.twig #}
<ul class="nav nav-tabs border-bottom-0" id="groupTab" role="tablist">
    <li class="nav-item">
        <button class="nav-link active fw-bold" id="cartelera-tab" data-bs-toggle="tab" data-bs-target="#cartelera" type="button" role="tab">
            <i class="bi bi-film me-2"></i>Cartelera
        </button>
    </li>
    <li class="nav-item">
        <button class="nav-link fw-bold" id="miembros-tab" data-bs-toggle="tab" data-bs-target="#miembros" type="button" role="tab">
            <i class="bi bi-people me-2"></i>Miembros
        </button>
    </li>
    <li class="nav-item">
        <button class="nav-link fw-bold" id="ajustes-tab" data-bs-toggle="tab" data-bs-target="#ajustes" type="button" role="tab">
            <i class="bi bi-gear me-2"></i>Ajustes
        </button>
    </li>
</ul>