# config/services.yaml
parameters:
    tmdb.api_key: '%env(string:TMDB_API_KEY)%'
    tmdb.read_token: '%env(string:TMDB_READ_TOKEN)%'

services:
    _defaults:
        autowire: true      
        autoconfigure: true 
        public: true       

    # 1. CARGA GENERAL
    App\:
        resource: '../src/*'
        exclude:
            - '../src/{DependencyInjection,Entity,Migrations,Tests,Kernel.php,EventListener}'
            - '../src/Module/**/{Entity,DTO,Exception}'

    # 2. MÓDULOS (Configuración manual necesaria)
    App\Module\Auth\Security\JwtTokenGenerator:
        arguments:
            $jwtManager: '@lexik_jwt_authentication.jwt_manager'

    App\Module\Auth\Security\TokenGeneratorInterface:
        alias: App\Module\Auth\Security\JwtTokenGenerator

    App\Module\Movie\Service\TmdbService:
        arguments:
            $http: '@http_client'
            $apiKey: '%tmdb.api_key%'
            $readToken: '%tmdb.read_token%'

    App\Module\Notification\Service\EmailService: ~

    # 3. CONTROLADORES
    App\Controller\:
        resource: '../src/Controller'
        tags: ['controller.service_arguments']

    App\Module\Auth\Controller\:
        resource: '../src/Module/Auth/Controller'
        tags: ['controller.service_arguments']

    App\Module\Movie\Controller\:
        resource: '../src/Module/Movie/Controller'
        tags: ['controller.service_arguments']

    # 4. LISTENERS (Ajustados con el método exacto)
    App\EventListener\JwtCookieInjectorListener:
        tags:
            - { name: kernel.event_listener, event: kernel.request, method: onKernelRequest }

    App\EventListener\TmdbExceptionListener:
        tags:
            - { name: kernel.event_listener, event: kernel.exception, method: onKernelException }

    # 5. PERSISTENCIA DE SESIÓN
    Symfony\Component\HttpFoundation\Session\Storage\Handler\PdoSessionHandler:
        arguments:
            - '%env(DATABASE_URL)%'
            - { 
                db_table: 'sessions', 
                db_id_col: 'sess_id', 
                db_data_col: 'sess_data', 
                db_time_col: 'sess_time', 
                db_lifetime_col: 'sess_lifetime' 
              }