services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    # Registro general de tus clases de la aplicación
    App\:
        resource: '../src/*'
        exclude: '../src/{DependencyInjection,Entity,Migrations,Tests}'

    # Controladores y repositorios del módulo Auth
    App\Module\:
        resource: '../src/Module/*'
        exclude: '../src/Module/*/{Entity,Tests}'

    # Módulo Auth
    # Hacemos públicos los controladores manualmente (PSR-4 compatible)
    App\Module\Auth\Controller\:
        resource: '../src/Module/Auth/Controller/*'
        public: true

    # Desactiva autowire para los DTOs
    App\Module\Auth\DTO\:
        resource: '../src/Module/Auth/DTO/*'
        autowire: false
        public: false
    # Fin módulo Auth

    # Implementación del Generador de Tokens
    # Si quieres especificar los argumentos manualmente, usa esta forma:
    App\Module\Auth\Security\JwtTokenGenerator:
        class: App\Module\Auth\Security\JwtTokenGenerator # No es necesaria si se usa autowire, pero aclara
        arguments:
            $jwtManager: '@lexik_jwt_authentication.jwt_manager'

    # Alias/Sustitución de interfaz: 
    # Cuando alguien pida TokenGeneratorInterface, se le da JwtTokenGenerator
    App\Module\Auth\Security\TokenGeneratorInterface:
        alias: App\Module\Auth\Security\JwtTokenGenerator
        # Hacemos el alias público para que pueda ser resuelto correctamente
        public: true

